<% @issue.dynamic_type.dynamic_type_attributes.each do |attribute| %>
	<p>
    <label for="<%= attribute.attribute_name %>">
        <%= attribute.attribute_name %>
    </label>
    <br/>
	<% if @issue[attribute.attribute_name] != nil %>
    	<textarea cols="70" rows="1" id="taggable_description" name="issue[<%= attribute.attribute_name %>]"><%= @issue[attribute.attribute_name].value %></textarea>
	<% else %>
		<textarea cols="70" rows="1" id="taggable_description" name="issue[<%= attribute.attribute_name %>]"></textarea>
	<% end %>		
	</p>
<% end %>