
<h1>Listing of issues</h1>
<table>
    <thead>
        <tr>
            <!--<th>
                Type
            </th>-->
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
			<th>
				Alternatives
			</th>
			<th>
				Decisions
			</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
            </th>
        </tr>
    </tfoot>
    <% @issues.each do |issue| %>
    <tr>
        <!--<td>
            <a href="<%= issue_url(issue.id) %>"><%=h issue.attributes["type"] %></a>
        </td>-->
        <td>
            <a href="<%= issue_url(issue.id) %>"><%=h issue.id %></a>
        </td>
        <td>
            <a href="<%= issue_url(issue.id) %>"><%=h issue.name %></a>
        </td>
        <td>
            <a href="<%= issue_url(issue.id) %>"><% if (issue["Description"] != nil) %>
                <%=h issue["Description"].value %>
                <% else %>
                <i>(none)</i><% end %>
            </a>
        </td>
		<td id="alternatives">
			 <% 
				decided_alternatives = 0
			    # @alternatives = issue.related_to("SolvedBy","Alternative")
			    @alternative_relations = issue.relations_to("SolvedBy")
    
    			@alternative_relations.each do |r|
     				 if r.tags("Decision").size > 0
						decided_alternatives = decided_alternatives + 1
					 end
    			end
			  %>
			  <%= @alternative_relations.size %>
		</td>
		
		<% if @alternative_relations.size == decided_alternatives 
			emph_style = "style=\"background: green;\"" 
		else
			emph_style = ""
		end %>
		
		<td id="decisions" <%=emph_style%>>
			
			  <%= decided_alternatives %>

		</td>
		
		
		<td>
            <a href="<%= issue_url(issue.id) %>" onclick="if (confirm('Are you sure?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;" style="color:#ff0000;">x</a>
        </td>
		
    </tr>
    <% end %>
</table>
<br/>
<div class="link">
<a href="<%= new_issue_path %>?overlay=true" rel="#overlay">
	<%= image_tag("new.png") %>
</a>
</div>