<% if @authentications %>  



 <% unless @authentications.empty? %>  
  <p><strong>You can sign in to this account using:</strong></p>  
   <div class="authentications">  
    <% for authentication in @authentications %>  
     <div class="authentication">  
      <%= image_tag "#{authentication.provider}_32.png", :size => "32x32" %>  
      <div class="provider"><%= authentication.provider.titleize %></div>  
      <div class="uid"><%= authentication.uid %></div>  
       <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>  
     </div>  
     <% end %>  
     <div class="clear"></div>  
    </div>  
   <% end %>  
   <p><strong>Identify yourself with:</strong></p>  
  <% else %> 


 
<p><strong><%=link_to "User/password", '/users/sign_in' %></strong></p> 
<form accept-charset="UTF-8" action="/users/sign_in" class="user_new" id="user_new" method="post">

  <p><label for="user_email">Email</label><br /> 
  <input id="user_email" name="user[email]" size="30" type="text" /></p> 
 
  <p><label for="user_password">Password</label><br /> 
  <input id="user_password" name="user[password]" size="30" type="password"/></p> 
 
    <p><input name="user[remember_me]" type="hidden" value="0" />
	<input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" /> <label for="user_remember_me">Remember me</label></p> 
 
  <p><input id="user_submit" name="commit" type="submit" value="Sign in" /></p> 
</form>


  <p><strong>Sign in through one of these services:</strong></p>  
<% end %>  
<!--
<a href="/auth/twitter" class="auth_provider">  
  <%= image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter" %>Twitter</a>  
<a href="/auth/facebook" class="auth_provider">  
  <%= image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook" %>Facebook</a>  

<a href="/auth/google_apps" class="auth_provider">  
  <%= image_tag "google_64.png", :size => "64x64", :alt => "Google" %>Google</a>  
<a href="/auth/open_id" class="auth_provider">  
  <%= image_tag "openid_64.png", :size => "64x64", :alt => "OpenID" %>OpenID</a>  
-->
<div class="clear"></div>  
  
  <p><strong>You can always <%= link_to "sign-out", {:action=>"destroy", :controller=>"devise/sessions"}%> !
