  <%= javascript_include_tag 'codebase/dhtmlxcommon.js' %>
  <%= javascript_include_tag 'codebase/dhtmlxgrid.js' %>
  <%= javascript_include_tag 'codebase/dhtmlxgridcell.js' %>
  <%= javascript_include_tag 'codebase/ext/dhtmlxgrid_srnd.js' %>
  <%= javascript_include_tag 'codebase/ext/dhtmlxgrid_filter.js' %>
  <%= javascript_include_tag 'codebase/excells/dhtmlxgrid_excell_link.js' %>
  <%= stylesheet_link_tag 'codebase/dhtmlxgrid.css' %>
  
<div id="gridbox" style="height:100%%;width:*;"></div>
<script>
mygrid = new dhtmlXGridObject("gridbox");
mygrid.setImagePath("<%= image_dir %>codebase/imgs/");
mygrid.setEditable(false);
mygrid.setSkin("modern");
//mygrid.setDateFormat("%d/%m/%Y");
mygrid.setHeader("Name,Type");
mygrid.attachHeader("#text_filter,#text_filter");
mygrid.setInitWidths("*,*");
mygrid.setColTypes("link,link");
mygrid.setColAlign("left,left");
mygrid.setColSorting("na,na");
mygrid.enableResizing("true,true");
mygrid.init();
mygrid.enableSmartRendering(true);
mygrid.load( "<%= url_for( :controller=>"issues", :action=>"show", :id=>@taggable_id ) %>/tag/list.xml" )
</script>

<!-- 
  <br/>
<br/>
<table class="tagsTable" id="tagsTable">
	<thead>
    <tr>
        <th>
            Type
        </th>
        <th>
            Name
        </th>
        <th>
        </th>
    </tr>
	</thead>
    <tfoot>
        <tr>
            <th>
            </th>
        </tr>
    </tfoot>
    <% @tags.each do |t| %>
    <tr>
        <td>
            <%= t.attributes["type"] %>
        </td>
        <td>
            <%= t.name %>
        </td>
        <td>
        	<% if @return_taggable_id != nil %>
				<%= link_to "+", {:controller=>"tag", :action=>"dotag", :from_taggable_id=>t.id, :to_taggable_id=>@taggable_id, :return_taggable_id=>@return_taggable_id} %>
				
			<% else %>
				<%= link_to "+", {:controller=>"tag", :action=>"dotag", :from_taggable_id=>t.id, :to_taggable_id=>@taggable_id} %>
			<% end %>
        </td>
    </tr>
    <% end %>
</table>

-->
