<!--<script type="text/javascript" src="<%= javascript_path('jit-yc.js')%>"></script>  
<script type="text/javascript" src="<%= javascript_path('tagvis.js')%>"></script>
-->
<!--
<div id="center-container">
    <div id="infovis"></div>    
</div>

<div id="log">
</div>
-->



<!--<script src="http://localhost:8080/application.js" type="text/javascript" charset="utf-8"></script>-->

<script src="/javascripts/juggernaut.js" type="text/javascript" charset="utf-8"></script>

<%= include_javascripts :common %>
<%= include_stylesheets :common, :workspace %>
<%= stylesheet_link_tag 'saw', 'jquery', 'infovis' %>

<section class="app">
</section>

<div id="main"></div>

<script id="node-template" type="text/template">
    <div class="project" id="<%%= getId() %>">
    	<div class="name"><%%= get('name')  %></div> (<%%= getIssueCount() %> issues) 
    	<div class="moreDetailsButton" id="<%%=getId()%>">[more]</div>
    	<div class="moreDetails hide">
    		some more funny details come here!
    	</div>
    </div>
    <br/>
    <div class="subProjects"/>
</script>

<script id="my-template" type="text/template">
	<div id='layout'>
		<div id='ribbon'/>
		<div id='trunk'>
			<div id='leftSidebar'/>
			<div id='center'></div>
			<div id='rightSidebar'/>
		</div>
		<div id='modal'/>
		<div id='footer'/>
	</div>
</script>


<div class="modal hide" id="newProjectModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>New project</h3>
  </div>
  <div class="modal-body">
    <p>Name: </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary">Create</a>
  </div>
</div>


<script id="projectListWidgetTemplate" type="text/template">
	Dear user, this is your personal homepage. 
	Please select a project that you'd like to work within:<br/>
	<div class="projectView"><img class="spinner" src="/images/spinner.gif"/></div>
	<div class="button green" id="newProjectButton">New Project</div>
</script>


<script id="projectDetailsWidgetTemplate" type="text/template">
	<div class="projectDetails">
		Project details come here (like name: <b><%%= get('name') %></b>) or ownership come here. Detailed statistics should come handy too.
	</div>
	<div class="issueListHolder">
	</div>
</script>


<script id="issueListTemplate" type="text/template">
	<div class="projectView"><img class="spinner" src="/images/spinner.gif"/></div>
</script>

<script id="issueCompactViewTemplate" type="text/template">
	<div class="issueCompactView" id ="<%%= get('id') %>">
	   	<span class="focusedUsers"></span>
	   	<b>Issue:</b> <span class="e6" contenteditable="true"><%%= get('name') %></span>
			<div style="float: right">
	    		<div class="button gray expand">Expand</div> 
				<div class="button orange details">Details</div>
		    	<div class="button black deleteItem">Delete</div>
			</div>
		<table class="alternativeList"></table>
	</div>
</script>


<script id="alternativeCompactListTemplate" type="text/template">
	alternativeCompactListTemplate
	<div class="alternativeList">
	</div>
</script>

<script id="alterntaiveCompactViewTemplate" type="text/template">
	<!--alterntaiveCompactViewTemplate id: 	<%%= get('id') %> -->
	<td width="17px">
		<b>Alternative:</b>
	</td>
	<td>	   		
		<div class="deleteAlternative">
			<span class="altenrnativeFocusedUsers"></span>
			<img class="deleteAlternative" src="/images/icons/delete.png"/>
		</div>
		<div class="name" contenteditable="true" id="<%%= get('id') %>nameEdit"><%%= get('name') %></div>

		<!-- this piece is for newly created alternative 
			<div class="name newEdit" contenteditable="true" id="<%%= get('id')%>nameEdit"><%%= get('name') %></div> 
		-->	
    </td>
	 <td class="decisions"> 
	 	<%%= renderDecisionButtons() %>
   	</td>
</script>


<script id="issueDetailsTemplate" type="text/template">
	issueDetailsTemplate
</script>


<script id="alternativeDetailsViewTemplate" type="text/template">
	alternativeDetailsViewTemplate
	   		<td class="name">	   		
				<div class="deleteAlternative">
					<span class="altenrnativeFocusedUsers"></span>
					<img class="deleteAlternative" src="/images/icons/delete.png"/>
				</div>
				<b>Alternative</b>
				<div class="itemAttributes"></div>
				<div class="decisionsDetails"></div>
				<div class="relationSelector"></div>
		    </td>
	    	<td class="decisions"> 
	    		<b>Decisions:</b>
				<table class="decisions">
				</table>
	    	</td>
</script>

<script id="alternativeDetailsWidget" type="text/template">
	alternativeDetailsWidget
	<table class="alternativeListDetails">
	</table>
</script>

<%= include_javascripts :projects  %>


<script type="text/javascript" charset="utf-8">

   App.init();

</script>
