<!-- ribbon begining -->
<%#= javascript_include_tag("helpers.js") %> 
<%#= javascript_include_tag :defaults %>  
<table class="ribbon">
<tr>
	<td width="400px">
		<a href="/">Projects</a>
		<% if params[:project_id]
			p = Project.find(params[:project_id])
#		elsif params[:id]
#				p = Project.find(params[:id])
		end %>
		<% if p %>
			&gt;
			<a href="/projects/<%=p.id%>/items"><%= p.name %></a>
		<% end %>
	</td>
	<!--

	<td width="400px">
		<%= link_to "Tag Cloud", {:controller=>"tag", :action=>"type_cloud"}, :class=>"header" %>
		
		<%if @dt != nil%>
			&nbsp;&gt;&nbsp;	<%= link_to @dt.name, {:controller=>"tag", :action=>"cloud", :type_name=>@dt.name}, :class=>"header" %>		
		<%end%>

		<%if @tag != nil %>
			&nbsp;&gt;&nbsp;	<%= link_to @tag.type, {:controller=>"tag", :action=>"cloud", :type_name=>@tag.type}, :class=>"header" %>
			&nbsp;&gt;&nbsp;	<%= link_to @tag.name, {:controller=>"tag", :action=>"taggings_list", :tag_id=>@tag.id}, :class=>"header" %>    
		<%end%>

		<%# if @issue != nil %>
		<%# @issue.tags_by_type(TopicGroup).each do |tag| %>
		<%# end %>
		<%# end %>
		</td>

	<td id="header-td">
		<a href="/projects/"  class="header">Projects</a>		

		&nbsp;&gt;&nbsp;
		<a href="/projects/"  class="header">Project XXX</a>
	
	</td>
-->		
	<td>
		<% if p %>
			<a href="/projects/<%=p.id%>/items">Items</a>
		<% end %>
	</td>
	<td>
		<% if p %>
			<a href="/projects/<%=p.id%>">Summary</a>
		<% end %>
	</td>
	<td>
		<% if p %>
			<a href="/projects/<%=p.id%>/report">Report</a>(<a href="/projects/<%=p.id%>/report2">alt</a>)
		<% end %>
	</td>
<!-- 
	<td>
		<a href="<%= alternatives_url %>"  class="header">Alternatives</a>
		
	</td>

	<td>
		<a href="<%= dynamic_types_url %>" class="header">Dynamic Types</a>
	</td>
	
	<td>
		<%= link_to "Tag Types", {:controller=>"tag", :action=>"index"}, :class=>"header" %>
	</td>
	
	<td>
	-->
	  <!--
		<div id="searchDiv">
		<input type="text" id="search" name="search" />  	
		<img id="busy" src="/images/spinner.gif" style="display:none" />   
		<%  # =# observe_field 'search',
#    :frequency => 0.5,
#    :update => 'searchResults',
#    :url => { :controller => 'taggables', :action=> 'search' },
#    :with => "'criteria=' + escape(value)",
#    :loading => "document.getElementById('busy').style.display='none'",
#    :loaded => "document.getElementById('busy').style.display='none'",
#	:complete => "searchControl();"%>
		</div>
		-->	
	</td>
	<td align="right" width="300px">
		<a href="/r">Resources</a>
	</td>

	<td align="right" width="400px">
	<!--	<a href="http://saw.inf.unisi.ch/" class="header">SAW</a>  -->
			<%if user_signed_in?  %> 
				<%= link_to '('+current_user.email+')', {:action=>"index", :controller=>"authentications"}, :id=>"current_user" %> 
			<%else %> 
				<%= link_to '(not signed in)', {:action=>"index", :controller=>"authentications"}, :id=>"current_user" %> 
			<%end%>
	</td>
		</tr>
</table>
<div id="searchResults"></div>
<script>
	//var divPos = findPos(document.getElementById('searchDiv'));
	
	//document.getElementById('searchResults').style.left = (divPos[0] + 24) + "px";
	//document.getElementById('searchResults').style.top = (divPos[1] + 25) + "px";
</script>
<!-- feedback bar -->
<div class="slide-out-div feedbackBar">
        <a class="handle" href="http://link-for-non-js-users.html">Content</a>
            <p>Drop us couple of words:</p>
            <div class="feedback" contenteditable="true"></div>
			<div class="button blue submitFeedback">Submit it</div>
</div>
<!-- end of the ribbon -->
<!-- tooltip FTW... it just shouldn't be removed  -->
<div class="tooltip">
		<div class="rationaleCaption">Rationale:</div>
		<div class="rationaleText" contenteditable="true"></div>
	</div> 
</td>

