<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Artifacts: <%= controller.action_name %></title>

<%= stylesheet_link_tag 'saw', 'jquery', 'infovis' %>
<%= javascript_include_tag 'jquery.tools.min' %>
<%= javascript_include_tag 'jquery.autogrowtextarea.js' %>


  <script>

jQuery(document).ready(function() {

  jQuery("a[rel]").overlay({

    mask: 'gray',
    effect: 'apple',

    onBeforeLoad: function() {

      // grab wrapper element inside content
      var wrap = this.getOverlay().find(".contentWrap");

      // load the page specified in the trigger
      wrap.load(this.getTrigger().attr("href"));
    }

  });
});
  
  $.noConflict();
  
  
  
  </script>
  
</head>
<body <%= " onload='#{@onload}'"%>>




<%#= image_tag"background.png", :id => 'background' %>
<%#= image_tag"background_bottom.png", :id => 'background_bottom' %>
<!--
<p style="color: green"><%= flash[:notice] %></p>
-->

<!-- there we go with theh ribbon -->
<%= render :partial => "layouts/ribbon", :object=>@issues %>

 <div class="tab" id="tab1" onmouseover="this.style.cursor='pointer';" 
    onmouseup="window.location='<%= url_for :controller=>"wizards", :action=>"explore" %>'">Explore</div>
 <div class="tab" id="tab2" onmouseover="this.style.cursor='pointer';"
    onmouseup="window.location='<%= url_for :controller=>"wizards", :action=>"capture" %>'">Capture</div>
 <div class="tab" id="tab3" onmouseover="this.style.cursor='pointer';" 
    onmouseup="window.location='<%= url_for :controller=>"wizards", :action=>"decide" %>'">Decide</div>
 <div class="tab" id="tab4" onmouseover="this.style.cursor='pointer';"
    onmouseup="window.location='<%= url_for :controller=>"wizards", :action=>"report" %>'">Report</div>


<div class="wrapper">
  
 <div id="center"> 

<div class="overlay" id="overlay"> 
 
    <!-- the external content is loaded inside this tag --> 
    <div class="contentWrap"></div> 
 
</div>

<%= yield %>

<%#= render :partial => "layouts/footer" %>

 </div>
</div>


<!-- overlayed element --> 

<!-- make all links with the 'rel' attribute open overlays -->



</body>
</html>
