<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Artifacts: <%= controller.action_name %></title>

<%= stylesheet_link_tag 'saw', 'jquery', 'infovis' %>


<%= include_stylesheets :common, :workspace %>

  
</head>
<body <%= " onload='#{@onload}'"%>>




<%#= image_tag"background.png", :id => 'background' %>
<%#= image_tag"background_bottom.png", :id => 'background_bottom' %>
<!--
<p style="color: green"><%= flash[:notice] %></p>
-->

<!-- there we go with theh ribbon -->
<%= render :partial => "layouts/ribbon" %> <%#, :object=>@issues %>

 <div class="tab" id="tab1" onmouseover="this.style.cursor='pointer';" 
    onmouseup="window.location='<%= url_for :controller=>"wizards", :action=>"explore" %>'">Explore</div>
 <div class="tab" id="tab2" onmouseover="this.style.cursor='pointer';"
    onmouseup="window.location='<%= url_for :controller=>"wizards", :action=>"capture" %>'">Capture</div>
 <div class="tab" id="tab3" onmouseover="this.style.cursor='pointer';" 
    onmouseup="window.location='<%= url_for :controller=>"wizards", :action=>"decide" %>'">Decide</div>
 <div class="tab" id="tab4" onmouseover="this.style.cursor='pointer';"
    onmouseup="window.location='<%= url_for :controller=>"wizards", :action=>"report" %>'">Report</div>


<div class="wrapper">
  
 <div id="center"> 

<div class="overlay" id="overlay"> 
 
    <!-- the external content is loaded inside this tag --> 
    <div class="contentWrap"></div> 
 
</div>




<ul id="chats">
	
</ul>

<%= yield %>

<%#= render :partial => "layouts/footer" %>

 </div>
</div>


<!-- overlayed element --> 

<!-- make all links with the 'rel' attribute open overlays -->



</body>
</html>
